@charset "utf-8";

/* ========== sub03-container-S ========== */
/* visual-S */
#visual{background-image: url(../img/sub04/visual.jpg)}
/* visual-E */
/* sub03-section-S */
/* showroom-S */
.showroom-login{height:30px; padding-top: 15px; margin-bottom: 60px;
	border-top: 1px solid rgba(0, 0, 0, 0.1)
}
.showroom-login:after{content: ""; display: block; clear: both; width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.showroom-login p{float: left; width: 900px; height: 30px;
	line-height: 30px; text-align: right
}
.showroom-login a{float: right; width: 100px; height:30px; margin: 0 120px 15px 0;
	background-color: #5484dc;
	color:#fff; text-align:center; line-height: 30px;
	transition: all 0.3s
}
.showroom-search{ height: 40px; margin-bottom: 60px;
	text-align: center
}
.showroom-search fieldset{display: inline-block}
.showroom-search select{float: left; width: 148px; height: 38px; cursor: pointer;
	border-color: #07152e;
	text-indent: 10px; line-height: 38px
}
.showroom-search select + select{margin-left: 40px}
.showroom-view{position: relative}
.showroom-view iframe{width: 100%; height: 683px; margin-bottom: 100px}
.showroom-view>div{width: 350px; height: 190px; padding: 10px 0 0 20px;
	background-color: #fff;
	box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
	position: absolute; left:10px; top: 10px
}
.showroom-view>div strong{display: block; height: 50px; margin-bottom: 15px;
	font-size: 30px; font-weight: 500; line-height: 50px; color: #145298
}
.showroom-view>div p{height: 28px;
	font-size: 18px; line-height: 28px
}
.showroom-view>div em{margin-bottom: 20px; height: 26px; display: block;
	font-size: 16px; line-height: 26px; color: rgba(34, 34, 34, 0.6)
}
.showroom-view>div div{height: 40px;}
.showroom-view>div a{float: left;}
.showroom-view>div a:first-child{display: block; width: 40px; height: 40px; margin-right: 40px;
	background: url(../img/sub04/view-kakao.jpg) no-repeat 0 0;
	text-indent: -9999px
}
.showroom-view>div a:last-child{width: 150px; height: 40px;
	background-color: #003057;
	color: #fff; text-align: center; line-height: 40px
}
.showroom>p{width: 1140px; height: 100px; padding: 100px 60px 0 0;
	background: url(../img/sub04/promotion.jpg) no-repeat 0 0
}
.showroom>p a{float: right; width: 298px; height: 68px;
	border: 1px solid #fff; border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 18px; line-height: 68px; color: #fff; text-indent: 60px;
	position: relative;
	transition: all 0.3s
}
.showroom>p a:after{content: ""; width: 10px; height: 18px;
	background: url(../img/sub04/btn-tool.png) no-repeat 0 0;
	position: absolute; right: 60px; top: 27px
}

.showroom-login a:hover{background-color: #003057}
.showroom-search:hover ul{display: block}
.showroom-search li:hover{background-color: #eee}
.showroom>p a:hover{background-color: #333}
/* showroom-E */
/* sub03-section-E */
/* ========== sub05-container-E ========== */